@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

.logo img {
    height: 4.2rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 12vh;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.navlist {
    display: flex;
    gap: 2.5rem;
}

.navlist li {
    list-style: none;
}

.navlist a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    letter-spacing: .05rem;
}

.hero {
    display: flex;

}

.hero .left {
    background-color: #2c1e1e;
    padding-left: 3rem;

}

.hero .right {
    background-color: #7c573c;
    justify-content: center;
}

.hero .hero_split {
    width: 50%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.navlist .slider {
    background-color: rgba(255, 255, 255, 0.345);
    width: 6rem;
    height: 5rem;
    position: absolute;
    top: 0;
    right: 415px;
    border-top: .3rem solid #2c1e1e;
    border-radius: 0 0 2rem 2rem;
    backdrop-filter: blur(.5rem);
    z-index: -1;
    transition: .5s ease-in-out;
}

.navlist li:nth-child(2):hover~.slider {
    right: 325px;
}

.navlist li:nth-child(3):hover~.slider {
    right: 220px;
}

.navlist li:nth-child(4):hover~.slider {
    right: 102px;
}

.navlist li:nth-child(5):hover~.slider {
    right: -8px;
}

.left .content {
    color: white;
}

.content h1 {
    font-size: 5rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .04rem white;
    letter-spacing: .2rem;
    font-family: 'lemon', cursive;
}

.content p {
    color: rgba(255, 255, 255, 0.37);
    font-size: 1.3rem;
    width: 75%;
    margin: 1.5rem 0;
    line-height: 2rem;
}

.content button {
    background: radial-gradient(at top left, #5a4f40, #2c1e1e);
    padding: 1rem 3rem;
    border: .2rem solid rgba(255, 255, 255, 0.286);
    border-radius: 4rem;
    font-size: 1.3rem;
    color: white;
    letter-spacing: .1rem;
    cursor: pointer;
}

.content button:hover {
    background: radial-gradient(at bottom right, #5a4f40, #2c1e1e);
}

.right img {
    height: 68%;
    padding-left: 3rem;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.middle .cricle {
    width: 9rem;
    height: 9rem;
    background-color: white;
    border-radius: 8rem;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


.middle .cricle:nth-child(1) {
    background-image: url(coffee\ powder.jpg);
    background-size: 350%;
}

.middle .cricle:nth-child(2) {
    margin: 2.5rem 0;
    background-image: url(coffee\ beans.jpg);
    background-size: cover;

}

.middle .cricle:nth-child(3) {
    background-image: url(leaves.jpg);
    background-size: 350%;
}

.middle .cricle::before {
    content: "";
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8rem;
    border: .25rem dashed white;
    padding: .4rem;
}